@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Fugaz+One&display=swap');


/* body de toutes les pages*/
body{
    background-color: #FBEDEC;
    width: 100%;
}
 


/*----------------------------------------------------------------------SignUp------------------------------------------------------------*/

/* div qui contient le titre de la page SignUp*/
.titre{
    margin-top: 20px;
    max-width: 100%;
   text-align: center;
   color: #022469;
  
}

/* tout les h1 de toutes les pages*/
h1{
    font-family: 'Concert One';
   
}

/*div contenant le component Form dans la page SignUp*/
.formulaire{
    max-width: 100%; 
    display: flex;
    justify-content: center;
   
}

/* style du component form dans la page SignUp*/
.FormInscription{
    margin-top: 30px;
    padding: 40px 40px;
    font-family: 'Inter';
    background-color: #F5D5D5;
    border-radius: 50px;
    border: 3px solid rgb(248, 116, 116);
   
}
/*---------------------------------------------------------------------Login page---------------------*/

.welcome{ 
    font-family: "Concert One", cursive;
    text-shadow: 5.67855px 2.83927px 2.27142px rgba(0, 0, 0, 0.25);
  } 
/*---------------------------------------------------------------------Authentification------------------------------------------------------------*/
/*style de la phrase dans la page authentification*/
.phrase{
    font-size:x-large;
    text-align: center;
}


/* div contenant les 6 inputs du code de verfication dans Authentification*/

/* les 6 inputs du code de verfication dans Authentification*/


/* une exception pour le 6 eme input situe a droite*/


/*div contenant les buttuon renvoyer le code et suivant*/
.footerAuth{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
   justify-content: center;
    align-items: center;

}

/* Responsive de la page Authentification*/

@media (min-width:460px ) and (max-width:640px ) {
    /* .auth .titre h2{
        font-size: 1em;
    } */
    .phrase{
        font-size: 0.9rem;
    }

 

    
}

@media (max-width:459px )  {
    /* .auth .titre h2{
        font-size: 1em;
    } */
    .phrase{
        font-size: 0.8em;
    }

 
    .code input{
        margin-right: 1rem;
    height: 3.2em;
    width: 3.2em;
    }
    input:nth-of-type(6){
        margin-right: 0px;
    }
    
}

/*----------------------------------------------------------------------Choix d'utilisation------------------------------------------------------------*/



.Choose img{
    /* margin-top: -50px; */
    height: 300px;
    width: 200px;
    
}


.Choose h4{
    color: #022469;
    font-weight: 600;
}



/* Responsive de la page choix d'utilisation*/
@media (max-width:800px) {
    .Choice{
        background :none;
    }
    .Choose{
       height: screen;
        display: flex;
        flex-direction: column;
       justify-content: center;
        align-items: center;
     }
     .Choice{
        height: fit-content;
        background-color: #f9d1d1;
     }

    .Choose h2{
        font-size: x-large;
    }
     .Choose img{
        width: 200px;
        
     }

     .Proprio{
        margin-bottom: 40px;
        margin-right: 0px;
     }

     .Parent {
        margin-left: 0px;
     }

    
}

/*---------------------------------------------------------------------- LES MENUS D'ETULISATION----------------------------------------------------------------------*/




.Menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
     align-items: center;
}


.Menu img:hover{

    border-radius: 60px;
    box-shadow: 7px 7px 50px rgba(119, 193, 249, 0.74);
    
}


@media (max-width:800px) {
      .Menu{
        display: flex;
        flex-direction: column;
      
        
      }

      .Menu img{
        width: 270px;
        height: 270px;
        padding-top: 25px;
      }
      .Menu img:hover{
        border-radius: none;
        box-shadow: none;
        
       

      }
      
    
}


/*----------------------------------------------------------------------------------------------------------------------------------------*/
.section1{
    margin: 0px;
    padding: 0px;
    /* background-image: url("./Components/HomePage/assets/Ellipse.svg"); */
    /* background-image: url("./Components/Assets/Logo1.svg"); */
    background-repeat: no-repeat;
    background-position-x: 15%;

}

@media (max-width:800px) {
   .section1 {
    background-image: none;
    
   }
   .section1 img {
    height: 1px;
    width: 1px;
   }
       
}






/*---------------------------------------------------------------------- LA PAGE DE RECHERCHE --------------------------------------------------------------------------*/
    



